---
import type { Project } from '../types';
import BaseLayout from './BaseLayout.astro';

interface Props {
	content: Project;
}

const { content } = Astro.props;
---
<BaseLayout title={content.title} description={content.description}>
	<header style={`background-image:url(${content.img})`} class="flex p-32 bg-cover bg-no-repeat min-h-[25vw] text-white flex-col justify-center items-center mb-10 overflow-hidden border-b-2 border-black">
		<h1 class="text-4xl uppercase font-bold tracking-wide">{content.title}</h1>
	</header>
	<div class="mx-10">
		<div class="flex flex-col items-center mb-10">
			<h3 class="font-light mb-4">{content.description}</h3>
			<div class="flex">
				{content.tags.map((t) => <div class="mr-3 bg-yellow p-2 border-2 font-semibold text-black text-sm rounded-full" data-tag={t}>
					{t}
				</div>
				)}
			</div>
		</div>
		<div class="container text-lg leading-loose lg:max-w-4xl lg:text-xl lg:leading-loose">
			<slot />
			<footer class="flex justify-center my-10">
				<a href="/projects" >
					<button class="bg-blue p-2 border-2 font-semibold hover:-translate-y-2 hover:bg-yellow"> View More </button>
				</a>
			</footer>
		</div>
	</div>
</BaseLayout>